* {
    box-sizing: border-box;
}

/*GENERAL PAGE*/
body {
    background-color: ;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/*link styles*/
a {
    text-decoration: none;
}
/*image styles*/
img {
    display: none;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 769px) {
    img {
        display: inline-block;
        width: 75%;
        margin-bottom: 20px;
    }
}

@media (min-width: 960px) {
    img {
        width: 75%;
    }
}

.circle {
    border-radius: 50%;
}

/*HEADER and FOOTER*/

header,
footer {
    color: white;
    background: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

header a {
    color: white;
}

header {
        box-shadow: 0px  8px 8px gray;
}

/*have title take up whole line*/
.nav-icon {
    flex-basis: 100%;
}

@media (min-width: 769px) {

    header {
        justify-content: space-between;
    }
    
    .nav-icon{
        flex-basis: auto;
    }
    
    h1 {
        text-align: left;
    }
}

/*END HEADER*/

/*WELCOME PARAGRAPH*/
.welcome {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
}

.welcome h2 {
    margin-bottom: 0;
}

.welcome p {
    margin-bottom: 30px;
}
@media (min-width: 769px) {
    
    .welcome {
        align-items: center;
    }
    
    .welcome h2 {
        flex-basis: 100%;
        text-align: center;
}
    .welcome p {
        max-width: 400px;
    }
}
/*END WELCOME PARAGRAPH*/

/*RECIPE-CATEGORIES SECTION*/

.recipe-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex:1;
    color: black;
}

/*styles for each recipe category item*/
.item {

    padding: 0;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: black 2px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.breakfast {
    background-image: url(../img/categories/breakfast.jpg);
}

.lunch {
    background-image: url(../img//categories/lunch.jpg);
}

.dinner {
    background-image: url(../img//categories/dinner.jpg);
}

.desert {
    background-image: url(../img//categories/cake.jpg);
}

.side {
    background-image: url(../img//categories/side.jpg);
}

.cocktail {
    background-image: url(../img//categories/cocktail.jpg);
}

.item h2 {
    color: black;
    background: white;
    padding: 10px;
    margin-top: 0;
}

@media (min-width: 769px) {
    
    .item {
        width: 50%;
        background: white;
        padding-bottom: 20px;
    }
}

.item h2 {
    flex-basis: 100%;
}

@media (min-width: 960px) {
    .item {
        width: 30%;
    }
}

.item a,
.jump-button {
/*    border:black 2px solid;*/
    padding: 5px 20%;
    margin-top: 5px;
    margin-bottom: 20px;
    background:black;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    align-content: center;
    flex-basis: 50%;
}

.jump-button {
    box-shadow: 10px  8px 8px gray;
}

@media (min-width: 769px){
    .item a {
        box-shadow: 10px  8px 8px gray;
    }
}

button {
    width: 100%;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*END RECIPE CATEGORIES SECTION*/

/*START RECIPE DIV SECTION*/
#recipesHTML {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    padding: 0;
    justify-content: space-evenly;
}

#recipesHTML a {
    color: black;
}

.recipeHeader {
    width: 100%;
    text-align: center;
}

@media (min-width: 769px) {
    #recipesHTML img {
        box-shadow: 2px  2px 2px black;
    }
}

/*styles for jump to top div and button*/
.jumpDiv{
    display: flex;
    justify-content: center;
}

.jump-button {
    text-align: center;
    flex-basis: 20%;
    margin: 20px;
    padding: 5px 20%;
}

/*styles for each recipe*/
.recipeJS {
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 40%;
    border: black 2px solid;
    border-radius: 8px;
}

@media (min-width: 769px) {
    .recipeJS {
        width: 25%;
    }
}

@media (min-width: 960px) {
    .recipeJS {
        width: 20%;
    }
}
