* {
    box-sizing: border-box;
}

h1 {
    color: red;
}

body {
    background-color: green;
}

p {
    color: orange;
}

.recipe-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

button {
    margin-top: 20px;
}

.item {
    margin: 20px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
}

.html-recipes {
    background: yellow;
    margin: 40px;
    padding: 20px;
}

img {
    width: 300px;
}

.circle {
    border-radius: 50%;
}